*{
    margin: 0;
    padding:0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    color: #fff;
    display: flex;
    height: 100vh;
    justify-content: center;
    background:#fff;
    padding: 10px;
    font-family: montserrat;
}
nav{
    background: #0082e6;
    height:80px;
    width: 100%;
}
label.logo{
    color: white;
    font-size:35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}
nav ul {
    float: right;
    margin-right: 20px;
}
nav ul li {
    display: inline-block;
    line-height: 80px;
    margin:0 5px;
}
nav ul li a {
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
a:hover {
    background: #1b9bff;
}
.container{
    max-width: 700px;
    width: 100%;
    padding: 25px 30px;
    border-radius: 25px;
    background: linear-gradient(135deg, #0077ff , #05073a);
    position:absolute;
    margin-top: 150px;
}
.container .heading{
    font-size: 25px;
    font-weight: 500;
    position: relative;
    text-align: center;
    padding: 0 0 20px 0;
}
.container .heading::before{
    content: '';
    position: absolute;
    height: 3px;
    left: 0;
    bottom: 0;
    width: 100%;
    background: linear-gradient(135deg, #71b7e6, #9b59b6 );
}
.container form .card-details{
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
form .card-details .card-box{
    width: calc(100% /2 );
    margin-bottom: 15px;
}
.card-details .card-box .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}
.card-details .card-box input{
    height: 30px;
    width: 90%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width:2px ;
    transition: all 0.3s ease;
}
form .button{
    position: relative;
    left: 37%;
}
form .button input{
    padding: 10px 0;
    margin-top: 10px;
    height: 100%;
    width: 90%;
    outline: none;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
    background: linear-gradient(135deg, #05073a , #0077ff);
    top: 305px;
    left:110px;
    width:130px;
    height:35px;
}
form .button input:hover{
    background: linear-gradient(-135deg, #05073a , #0077ff);
}
